*.html
*.docx
*.pdf
*.xlsx
*cache*
*.Rproj

.Rproj.user



R-hdiAnalysis/
R-sizeSpectra/
R-sizeSpectraHake/
tests/testthat-hdiAnalysis/

data-raw/hake-2024/*

data-raw/zabala-data/using-sizeSpectra2.Rmd
report/using-sizeSpectra2.Rmd
