*.html
*.docx
*.pdf
*.xlsx
*cache*
*.Rproj
*.rds
*.log
*.Rhistory
*.tex
*.tiff


.Rproj.user

R-hdiAnalysis/
R-sizeSpectra/
R-sizeSpectraHake/
R-aggregating/

tests/testthat-hdiAnalysis/

data/dataBinForLike.rda

data-raw/hake-2024/*

data-raw/mediterranean-data/north-sea-data.Rmd
data-raw/zabala-data/using-sizeSpectra2.Rmd
report/using-sizeSpectra2.Rmd

report/mediterranean/READmediterranean-long.txt
report/mediterranean/mediterranean-analysis-1/
report/mediterranean/mediterranean-analysis-2/
