*.html
*.docx
*.pdf
*.xlsx
*cache*
*.Rproj
*.rds
*.log

.Rproj.user

R-hdiAnalysis/
R-sizeSpectra/
R-sizeSpectraHake/
R-aggregating/

tests/testthat-hdiAnalysis/

data/dataBinForLike.rda

data-raw/hake-2024/*

data-raw/mediterranean-data/north-sea-data.Rmd
data-raw/zabala-data/using-sizeSpectra2.Rmd
report/using-sizeSpectra2.Rmd

report/mediterranean-analysis-1/
report/mediterranean-analysis-2/
report/mediterranean-analysis-4/med-summary-4.tex